
button {

    background-color: blueviolet; 
    border-color: black;
    margin: 2px;
    padding: 20px;
    height: 20px;
    width: 20px;
    
}

table {
    align-content: center;
    border-color: black;
    top: 50%;
    left: 50%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

div {
    position: fixed; 
    width: 1100px;
    height: 1100px;

}